h2{
  font-size: 20px;
  margin-top: 0px;
}
#histogram {
  font-size: 16px;
  font-style: italic;
}
#histogram table tr td{
  font-size: 12px;
  padding: 0px 3px;
}
#histogram .explain{
  margin-top: 60px;
}
#footer{
  margin-top: 30px;
  padding-top: 10px;
  border-top: 1px solid #AAAAAA;
}
.buttons{
  margin-top: 20px;
}
.well{
  padding: 10px 0px;
}
